# Ignore model weights
ffnn_search/results/*.pt

# Ignore all figures
ffnn_search/results/*.png
ffnn_search/results/figs_trials/*.png

# Ignore logs
ffnn_search/logs/*
!ffnn_search/logs/.gitkeep

# Ignore result artifacts
ffnn_search/results/*.csv
ffnn_search/results/*.json

job.lsf

# Ignore the .err and .out
*.out
*.err
*.png
*.pt
*.json

venv_1

bulkformer/*
Bulkformer/fine_tuning/__pycache__/isoform_model.cpython-39.pyc
